<% provide(:title, 'Top') %>
<div class="main-container">
  <div class="main-container-top">

    <h1>Make A New Friends</h1>
    <div class="main-btn">
      <%= link_to("募集する", "#",{class: "request"}) %>
      <%= link_to("みつける", "#",{class: "find"}) %>
      <%= link_to("掲示板", "#", {class: "bbs"})%>

    </div>

  </div>
</div>
