<header>
  <div class="container">
    <div class="header-left">
      <%= link_to("Darts Mark", "/") %>
    </div>
  </div>
  <div class="header-right">
    <a href="#">ユーザー登録</a>
  </div>
  <div class="header-right1">
    <a href="#">ログイン</a>
  </div>
  <div class="header-left1">
    <%= link_to("Darts Markとは", "/about") %>
    <%= link_to("使い方", "/about") %>
  </div>
</header>
